# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.egg-info
__pycache__
./*/*/__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
.env

# VS Code
.DS_Store